:root {
  --hook-color: #6c5ce7;
  --secondary-hook-color: #a29bfe;
  --main-color: white;
  --secondary-color: rgb(220, 220, 220);

  --transition-one-tenth: 0.1s ease-in-out;
  --transition-one-second: 1s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
}

#home {
  box-sizing: border-box;
  position: relative;
  height: 94vh;
  background: linear-gradient(
      to bottom,
      rgba(2, 2, 2, 0.1),
      rgba(255, 255, 255, 0.04)
    ),
    url(/images/home2.jpg) no-repeat fixed center;
}

/* ---------- Navbar ---------- */

#navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 1em;
}

#nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-logo a {
  color: var(--main-color);
  text-decoration: inherit;
}

#nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav-links li {
  font-weight: bold;
  list-style: none;
}
#nav-links li a {
  padding: 0.5em;
  color: var(--main-color);
  text-decoration: inherit;
  transition: 0.1s ease-in-out;
}
#nav-links li a:hover {
  transition: 0.1s ease-in-out;
  color: var(--secondary-color);
}

#nav-contact {
  color: black;
  font-weight: bold;
  padding: 1em 3em;
  border-radius: 2.5em;
  width: fit-content;
  margin: auto;
  transition: var(--transition-one-tenth);
  background-color: rgba(240, 248, 255, 0.8);
  border: none;
  outline: none;
}
#nav-contact:hover {
  cursor: pointer;
  transition: var(--transition-one-tenth);
  background-color: rgba(240, 248, 255, 0.6);
}

#nav-contact a {
  color: inherit;
  text-decoration: inherit;
}

/* ---------- Hook ---------- */

#hook_container {
  position: absolute;
  top: 20%;
  left: 9%;
  max-width: 30%;
  padding: 1em;
}

#hook {
  /* must change depending on screen */
  color: var(--main-color);
  font-size: 4em;
  padding-bottom: 1em;
}

#hook_description {
  color: var(--main-color);
  text-shadow: 0.5px 0.5px var(--main-color);
  padding-bottom: 2.5em;
}

#hook_options {
  width: 50%;
  padding: 1em 0;
  display: flex;
  justify-content: space-around;
}

.hook-buttons {
  font-weight: bold;
  padding: 1em 0;
  border-radius: 2.5em;
  color: black;
  width: 10em;
  border: none;
  outline: none;
}

#learn_more {
  background-color: var(--hook-color);
  color: white;
  transition: var(--transition-one-tenth);
}
#learn_more:hover {
  background-color: var(--secondary-hook-color);
  cursor: pointer;
  transition: var(--transition-one-tenth);
}

#book_trip {
  background-color: rgba(255, 255, 255, 0.7);
  transition: var(--transition-one-tenth);
}
#book_trip:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: var(--transition-one-tenth);
}

/* ---------- Services ---------- */

#services_container {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5em;
  transition: var(--transition-one-second);
}
#services .card {
  width: 25em;
  height: 30em;
  padding: 2em;
  text-align: justify;
  box-sizing: border-box;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#services .card .img {
  width: 10em;
  height: 10em;
  margin: auto;
  border-radius: 50%;
}
#services .card h2 {
  color: inherit;
  padding: 1em 0;
}
#services .card p {
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(65, 63, 63);
  line-height: 2;
}

/* ---------- Service card images ---------- */
#services .card .img-hiking {
  background: url(/images/camping-clipart) no-repeat center;
  background-size: cover;
}
#services .card .img-trails {
  background: url(/images/trails-clipart) no-repeat center;
  background-size: cover;
}
#services .card .img-camping {
  background: url(/images/camping-clipart) no-repeat center;
  background-size: cover;
}

/* ---------- Weather bar ---------- */

#activity_suggestions_container {
  height: 20vh;
}

.weekday {
  border-bottom: 1px solid var(--secondary-hook-color);
}

.weather-strip {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* margin: auto; */
}

.weathercard {
  border-bottom: 1px solid var(--hook-color);
  width: 11%;
  font-family: inherit;
  color: #333;
}

.weather-info {
  padding: 1em 0 1.5em 1em;
}

.weather-range {
  font-size: small;
}

.activity-suggestion {
  text-align: center;
  padding-bottom: 2em;
}

.activity-suggestion h2 {
  font-size: large;
  padding-bottom: 0.5em;
}

.activity-suggestion ol {
  list-style: none;
  line-height: 1.5;
}

.activity-suggestion ol a {
  color: #333;
  /* color: var(--blue-link); */
  text-decoration: none;
}

/* ---------- collective styling --------- */

.section_translate-left {
  transform: translateX(-1200px);
}
